* {
  margin: 0;
  padding: 0;
}

.products-and-filters {
  display: grid;
  grid-template-columns: 28% 72%;
}
.filters-display-section {
  max-width: 100%;
}
.products-display-section {
  display: flex;
  gap: 5rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}
