.book-card {
  width: 30rem;
  height: 50rem;
  background-image: linear-gradient(
    to right,

    #333232 25%,
    #070707 75%
  );
  border: 0.1rem solid black;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(10, 1fr);
  font-size: larger;
  box-shadow: 1rem 1rem 1rem 0rem burlywood;
  padding: 1rem 0.2rem;
}
.book-cover {
  grid-area: 1/1/7/3;
  background-color: black;
  margin: 0rem 1rem;
  margin-top: 0.5rem;
}
/* .book-cover > img; */
.book-cover > img {
  width: 100%;
  height: 100%;
}
.book-price {
  grid-area: 8/1/9/3;
}
.book-add-to-cart {
  grid-area: 9/1/10/3;
}
.book-add-to-wishlist {
  grid-area: 10/1/11/3;
}
.book-price {
  padding: 1rem;
  color: burlywood;
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  justify-self: center;
}
.book-price > s {
  font-size: 2.5rem;
  color: grey;
}
.book-price > span {
  font-size: 2.5rem;
  font-weight: bold;
  color: green;
}
.book-basic-details {
  color: burlywood;
  padding: 1rem;
}
.book-basic-details > .book-title {
  font-size: 2.3rem;
}
.book-basic-details > .book-author {
  font-size: 1.8rem;
}

.book-rating {
  color: burlywood;
}
.book-rating {
  padding: 1.4rem;
  font-size: 2.8rem;
}
.book-add-to-cart,
.book-add-to-wishlist {
  font-size: 2.2rem;
  background-image: linear-gradient(
    to right,

    #333232 25%,
    #070707 75%
  );
  color: burlywood;
  margin: 0.5rem 0.5rem;
}
.book-add-to-cart:hover {
  color: coral;
}
.book-add-to-wishlist:hover {
  color: coral;
}
