.cart-order-details {
  width: 40rem;
  height: 52.5rem;
  border: 0.1rem solid black;
  background-image: linear-gradient(
    to right,

    #333232 25%,
    #070707 75%
  );
  color: burlywood;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 1rem;
  padding: 1rem;
}
.cart-order-coupon-apply {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 1.5rem;
  font-size: 2.5rem;
}
.cart-order-coupon-apply > button {
  font-size: 1.7rem;
  padding: 0.5rem 0.5rem;
  background-image: linear-gradient(
    to right,

    #333232 25%,
    #070707 75%
  );
  color: burlywood;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.cart-order-coupon-apply > button:hover {
  color: coral;
}
.cart-order-details-title {
  text-align: center;
  padding: 1.5rem 1.5rem;
  font-size: 3rem;
}
.cart-order-details-main {
  font-size: 2.4rem;
}
.cart-order-details-main-price {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 1.5rem;
}
.cart-order-details-main-total-price {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 1.5rem;
  font-size: 2.5rem;
  color: rgb(166, 229, 128);
}
.cart-order-details-savings-statement {
  text-align: center;
  margin: 1.5rem 1.5rem;
  font-size: 2.5rem;
  color: rgb(166, 229, 128);
}
.checkout-button {
  display: block;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  margin: auto;
  background-image: linear-gradient(
    to right,

    #333232 25%,
    #070707 75%
  );
  color: burlywood;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.checkout-button:hover {
  color: coral;
}
