.address-main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-success {
  border: 0.1rem solid black;
  margin-bottom: 2rem;
  text-align: center;
}
.price-breakup {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 1.5rem;
}
.address-card {
  border: 0.1rem solid black;
  margin-bottom: 0.5rem;
  padding: 1rem 2rem;
  width: 50rem;
  margin-left: 5rem;
  background-image: linear-gradient(
    to right,

    #333232 25%,
    #070707 75%
  );
  color: burlywood;
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.address-card > p {
  margin: auto;
}
.address-card-btn-container {
  margin: 1.6rem auto;
}
.address-card-btn {
  background-color: var(--background-color);
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.8rem;
  background-image: linear-gradient(
    to right,

    #333232 25%,
    #070707 75%
  );
  color: burlywood;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.edit-btn {
  margin: 1rem 1rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  border: none;
  font-size: 2rem;

  background-image: linear-gradient(
    to right,

    #333232 25%,
    #070707 75%
  );
  color: burlywood;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.remove-btn {
  margin: 1rem 1rem;
  padding: 0.5rem 0.5rem;
  font-size: 2rem;
  cursor: pointer;

  background-color: white;
  background-image: linear-gradient(
    to right,

    #333232 25%,
    #070707 75%
  );
  color: burlywood;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.address-container {
  background-image: linear-gradient(
    to right,

    #333232 25%,
    #070707 75%
  );
  color: burlywood;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 1rem 1rem;
  font-size: 2rem;
}
.checkout-btn {
  background-image: linear-gradient(
    to right,

    #333232 25%,
    #070707 75%
  );
  color: burlywood;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: block;
  margin: auto;
  font-size: 2rem;
  padding: 0.6rem 1.2rem;
}
.checkout-btn:hover {
  color: greenyellow;
  padding: 0.6rem 1.5rem;
}
.add-btn {
  margin-left: 5rem;
  margin-top: 2.4rem;
  font-size: large;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 1.2rem;
  padding: 0.8rem;
}
/* .place-order-btn{
      margin-left:1rem;
      font-size: large;
      cursor: pointer;
      border:1px solid black;
      border-radius:12px;
      padding:8px;
    
      } */
.address-container {
  margin-top: 1rem;
  width: 40rem;
  box-shadow: rgba(90, 90, 90, 0.35) 0rem 0.5rem 1.5rem;
  border-radius: 0.5rem;
  margin-left: 2rem;
}
.address-container > div {
  margin: 1.5rem 0;
}

.address-details {
  display: flex;
}
/* @media (screen: 893px) {
  .address-container {
    margin-top: 1rem;
    width: 30rem;
    box-shadow: rgba(90, 90, 90, 0.35) 0rem 0.5rem 1.5rem;
    border-radius: 0.5rem;
    margin-left: 2rem;
  }
} */
