.logout-container {
  width: 50rem;
  height: 30rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logout-btn {
  /* margin: 11px auto; */

  font-size: 2.2rem;
  background-image: linear-gradient(
    to right,

    #333232 25%,
    #070707 75%
  );
  color: burlywood;
  padding: 1rem 1rem;
}
.logout-btn:hover {
  padding: 1rem 1.3rem;

  color: coral;
}
