.card-items-card {
  width: 40rem;
  height: 40rem;
  border: 0.1rem solid black;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(5 1fr);
  background-image: linear-gradient(
    to right,

    #333232 25%,
    #070707 75%
  );
  box-shadow: 1rem 1rem 1rem 0rem burlywood;
  padding: 2rem;
  margin: 1rem;
}
.cart-items-card-book-cover {
  grid-area: 1/1/6/2;
  margin: 1rem 1rem;
}
.cart-items-card-book-cover-image {
  width: 100%;
  height: 100%;
}
.cart-items-card-book-basic-details {
  color: burlywood;
  align-self: center;
  margin: 1rem 1rem;
}
.cart-items-card-book-basic-details > .cart-items-card-book-title {
  font-size: 3.5rem;
}
.cart-items-card-book-author {
  font-size: 2.5rem;
}
.cart-items-card-book-price {
  font-size: 3.5rem;
  color: burlywood;
  align-self: center;
  margin: 1rem 1rem;
}
.cart-items-card-book-price > s {
  font-size: 2.5rem;
  color: grey;
}
.cart-items-card-book-price > span {
  font-size: 2.5rem;
  font-weight: bold;
  color: green;
}
.cart-items-card-quantity-builder {
  font-size: 2.5rem;
  font-weight: bold;
  color: burlywood;
}
.cart-items-card-quantity-builder > button {
  font-size: larger;
  background-image: linear-gradient(
    to right,

    #333232 25%,
    #070707 75%
  );
  margin: 1rem 1rem;
  color: burlywood;
  padding: 1rem 1rem;
}
.cart-items-card-quantity-builder > button:hover {
  color: coral;
}
.cart-items-card-add-to-cart {
  background-image: linear-gradient(
    to right,

    #333232 25%,
    #070707 75%
  );
  margin: 1rem 1rem;
  color: burlywood;
  font-size: 2rem;
}
.cart-items-card-add-to-cart:hover {
  color: coral;
}
.cart-items-card-remove-from-cart {
  background-image: linear-gradient(
    to right,

    #333232 25%,
    #070707 75%
  );
  margin: 1rem 1rem;
  color: burlywood;
  font-size: 2rem;
}
.cart-items-card-remove-from-cart:hover {
  color: coral;
}
