.category-card {
  width: 14rem;
  border: 0.1rem solid gray;
  box-shadow: 0.2rem 0.2rem 0rem 0rem gray;
  padding: 3rem;
  border-radius: 50%;

  background-image: linear-gradient(
    to right,

    #f2f0f0 25%,
    #cac8c8 75%
  );
  text-align: center;
  box-shadow: 1rem 1rem 1rem 0rem burlywood;
}

.category-title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 3rem;
}
.category-description {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.4rem;
}
