.price-slider {
  width: 100%;
}
.price-slider > input {
  width: 100%;
}
.filters-input-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.filters-input-header > button {
  background-image: linear-gradient(
    to right,

    #333232 25%,
    #070707 75%
  );
  color: burlywood;
  padding: 10px 10px;
  font-size: medium;
}

.filters-input {
  width: 15vw;
  height: fit-content;
  background-image: linear-gradient(
    to right,

    #333232 25%,
    #070707 75%
  );
  box-shadow: 10px 10px 10px 0px burlywood;
  color: burlywood;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  padding: 15px 15px;
  position: sticky;
  top: 16.9vh;
}
.price-range {
  display: flex;
  justify-content: space-between;
}
.category-filter {
  display: flex;
  flex-direction: column;
  margin: 15px 15px;
  row-gap: 10px;
}
.ratings-filter {
  display: flex;
  flex-direction: column;
  margin: 50px 15px;
  row-gap: 10px;
}
.price-filter {
  display: flex;
  flex-direction: column;
  margin: 15px 15px;
  row-gap: 10px;
}
